<h3>@Title</h3>
@FieldDisplayName:
<input type="text" @bind-value="_data" size="25"/>
<hr/>
<button @onclick="SaveToLocalStorageAsync">Save to @StorageType Storage</button>
<button @onclick="ReadFromLocalStorageAsync">Read from @StorageType Storage</button>
<div class="mt-4">@_message</div>

@code {
    private string _data;
    private string _message;

    [Parameter]
    [EditorRequired]
    public string Title { get; set; }

    [Parameter]
    [EditorRequired]
    public string FieldDisplayName { get; set; }

    [Parameter]
    [EditorRequired]
    public string StorageType { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<string> OnDataReturnedCallback { get; set; }

    [Parameter]
    [EditorRequired]
    public IBrowserStorageService StorageService { get; set; }

    async Task SaveToLocalStorageAsync()
    {
        var dataInfo = new StateData()
        {
            Value = _data,
            Length = _data!.Length,
            Timestamp = DateTime.Now
        };
        await StorageService!.SetItemAsync<StateData>("localStorageData", dataInfo);
        _message = "Saved";
    }

    async Task ReadFromLocalStorageAsync()
    {
        StateData savedData = await StorageService!.GetItemAsync<StateData>("localStorageData");
        string result = $"localStorageData = {savedData?.Value ?? "Missing"}";
        await OnDataReturnedCallback.InvokeAsync(result);
        _message = "";
    }
}